name: mic_framework
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

# AGGIUNGI O MODIFICA QUESTA PARTE:
environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # ... le altre dipendenze che hai aggiunto ...
