concurrency: name: MIC-Framework Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.19.0'

      - name: Repair and Reconstruct Android
        run: |
          rm -rf android/
          flutter create . --platforms android --project-name mic_framework
          # Questa riga corregge l'errore dello screenshot #977
          sed -i 's/minSdkVersion .*/minSdkVersion 21/' android/app/build.gradle

      - name: Install dependencies
        run: |
          flutter pub get
          flutter pub upgrade

      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: mic-agent-release
          path: build/app/outputs/flutter-apk/app-release.apk
